<div class="container text-white pb-2 mt-5">
  <h2>Problem Statement</h2>
  <p>
    This is Issue Tracking Web Application. Which provide a platform, where user can post a query/issue/bug
    and communicate with other users.
  </p>





  <h2>Proposed system</h2>

  <p>This web application has these many features: </p>


  <h3> Login view </h3>
  <ol>
    <li>User will be able to login to the application through his email and password.</li>
    <li>User will be able to create a new account on this platform.</li>
    <li>Once user will login, redirect to his personalized dashboard view.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Personalized Dashboard view </h3>
  <p>
    A table showing all issues currently available on this platform. User can filter the issue using filter
    option is given. User can see how many issues are available in which category. Like In-Backlog, In-Progress,
    In-Test, Done. This table has following columns -
  </p>
  <ol>
    <li>Title: Title of the issue. </li>
    <li>Status: Current status of the issue. It can be In-Backlog, In-Progress, In-Test or Done.</li>
    <li>Reporter: User who has reported the bug/issue.</li>
    <li>Date: Date when this issue/bug was reported.</li>
    <li>A Search Box: Where, user will be able to search an issue.</li>
    <li>A Create Button: User will be able to create a new issue/bug.</li>
    <li>Select Option: In this column user can select either View/Edit option. This option will
      allow to view or edit any query.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Issue description view </h3>
  <ol>
    <li>Here user (Reporter) will be able to add/edit title of issue, description of issue, add/edit any related
      attachments, like screenshots. </li>
    <li>
      Description box have a rich text editor having option like font styling,
      underline etc.
    </li>
    <li>
      Any user can add any issue to his watch list after that he will get notification,
      if any other user will change or comment on that issue.
    </li>
    <li> An assignee/reporter can assign this issue to any other user.</li>
    <li>Only reporter can delete the issue, which one he has created.</li>
    <li>Only reporter/assignee can edit an issue, which has created by them or assign to them.</li>
    <li>Any user can view an issue.</li>
    <li>There is a comment ysection, where any user, will be able to make a comment on any issue.</li>
    <li>User can see all previous comments done by other users.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Search view</h3>
  <ol>
    <li>
      User will be able to search for any text.
    </li>
    <li>User will be able to see result table, having all the issues related to the search text.</li>
    <li>User can sort any column data </li>
    <li>User can also filter table issue on the basis of -
      <ol>
        <li class="sub-list">Issue/Bug created by user</li>
        <li class="sub-list">Issue/Bug assign to user</li>
        <li class="sub-list">All issue/bug</li>
      </ol>
    </li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Notification</h3>
  <ol>
    <li>User can see all notification on one click.</li>
    <li>Once user will click any notification, user will redirect to edit page.</li>
    <li>Once user will click notification, that notification seen button become blue otherwise that will be light gray.
    </li>
    <li>User will have one option to see all notification. Where user can see all notification in details.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>User Watch list</h3>
  <ol>
    <li>User can see all the issue which one he has subscribed.</li>
    <li>User can also View/Delete his watch list query.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Resource Links</h3>
  <ol>
    <li><a href="https://github.com/abhishek-web-dev/BackEnd-Issue-Tracker-App" target="_blank">
      FrontEnd Git Hub Link</a></li>
    <li><a href="https://github.com/abhishek-web-dev/FrontEnd-Issue-Tracker-App" target="_blank">BackEnd Github Link</a></li>
  </ol>

  <h3 class="text-center py-4">END</h3>
</div>

