

#form-div {
  /* background-color: #2d3748; */
  background-color: #feffff;
  height: 72%;
  margin-top: 2%;
  border-radius: 10px;
}

#issue-form {
  margin: 25px 50px;
  padding: 0px;
}

/* it will apply red border if input will be empty */
select.ng-invalid.ng-touched,input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.dropdown-item:hover{
background-color: tomato;
}