<div class="main-div">

  <section class="container">
    <h2 class="pb-2 text-white mt-4 text-center" style="font-size:200%;">
      Create A New Issue
    </h2>
    <mat-card id="form-div">
      <form id="issue-form" [formGroup]="createNewIssueForm" (ngSubmit)="onSubmit(createNewIssueForm)">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <angular-editor formControlName="description" [config]="config"></angular-editor>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="custom-select my-1 mr-sm-2" id="status" formControlName="status">
            <option *ngFor="let status of allStatus" [value]="status">{{status}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="image">Assign To</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" style="width: 100%;" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select one option
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%;">
              <a class="dropdown-item" *ngFor="let data of allUsersId" (click)="selectReciever(data)">{{data.name}}</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="image">Apload Image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" (change)="onFileSelect($event)">
            <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
          </div>
        </div>

        <!-- Alert no more post -->
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <button mat-raised-button color="primary" class="py-1 px-4" [disabled]="!createNewIssueForm.valid">
              Submit
            </button>
          </div>
        </div>

      </form>

    </mat-card>
  </section>


  <div style="height: 50px;"></div>

</div>
